<% unless @plan %>
  <div class="page-header">
    <h1>Selecione um Plano</h1>
  </div>
  <div class="row">
    <% @plans.reverse.each do |plan| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h3><%= plan.name %></h3>
            <h4>R$ <%= plan.prices[0]["value_cents"] / 100 %> / <%= (plan.interval_type == "months") ? "Mês" : "Semana" %></h4>
            <ul class="features">
              <% plan.features.each do |feature| %>
                <li class="<%= "important-feature" if feature["important"] == "true" %>">
                  <%= feature["value"] %> <%= feature["name"] %>
                </li>
              <% end %>
            </ul>
            <p>
              <%= link_to "Assinar", subscribe_path(p: plan.identifier), { class: "btn btn-block btn-primary" } %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="page-header">
    <h1>Assinar <%= @plan.name if @plan %></h1>
  </div>
  <form method="POST" action="<%= subscribe_to_plan_path %>">
    <% if @error %>
      <div class="form_error alert alert-danger">
        <strong>
          Erro!!!
        </strong>
        <p><%= @error %></p>
      </div>
    <% end %>

    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    <input id="plan_identifier" name="plan_identifier" type="hidden" value="<%= @plan.identifier %>"/>
    <input id="credit_card_token" name="credit_card_token" type="hidden" value="<%= @credit_card_token || "" %>"/>
    <div class="form-horizontal">
      <div class="payment-select">
        <div class="btn-group btn-group-lg" data-toggle="buttons">
          <label class="btn btn-default credit_card" class="<%= "active" if @payment_method == "credit_card" %>">
            <%= radio_button_tag 'payment_method', 'credit_card', (@payment_method == "credit_card") %>
            Cartão de Crédito
          </label>
          <label class="btn btn-default bank_slip" class="<%= "active" if @payment_method == "bank_slip" %>">
            <%= radio_button_tag 'payment_method', 'bank_slip', (@payment_method == "bank_slip") %>
            Boleto Bancário
          </label>
          <label class="btn btn-default onclick_card_details" class="<%= "active" if @payment_method == "credit_card" %>">
            <%= radio_button_tag 'payment_method', 'credit_card', (@payment_method == "credit_card") %>
            Cartão Padrão
          </label>
        </div>
      </div>
      <div id="credit_card_details">
        <div class="well">
          <div class="cc_error alert alert-danger">
            <strong>
              Erro!!!
            </strong>
            Cartão de crédito inválido.
          </div>
          <div style="text-align: center"><%= image_tag "aceitamos.jpg", style: "padding-bottom: 20px" %></div>
          <div class="data-group">
            <div class="credit_card_type"></div>
            <input class="form-control credit_card_number" placeholder="Número do Cartão" type="text" data-iugu="number" value="" autocomplete="off" />
            <input class="form-control credit_card_name" placeholder="Nome no Cartão" type="text" value="" autocomplete="off" />
            <input class="form-control credit_card_expiration" data-iugu="expiration" placeholder="MM/AA" type="text" autocomplete="off" value="" />
          </div>
          <div class="well cvv" style="position: relative;">
            <div class="credit_card_cvv_type"></div>
            <input class="form-control credit_card_cvv" data-iugu="verification_value" placeholder="CVV" type="text" autocomplete="off" value="" />
            <span>Código de Segurança</span>
          </div>
          <input class="form-control credit_card_first_name" data-iugu="first_name" placeholder="Nome" type="hidden" autocomplete="off" value="" />
          <input class="form-control credit_card_last_name" data-iugu="last_name" placeholder="Sobrenome" type="hidden" autocomplete="off" value="" />

          <div style="text-align: right;">
            <%= image_tag "pagamentos-por-iugu-linhas-escuro.png", style: "padding-top: 10px" %>
          </div>
        </div>
      </div>
      <div id="onclick_card_details">
        <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <table class="table table-condensed table-responsive">
            <thead>
              <tr>
                <th>Descrição</th>
                <th>Cartão</th>
                <th>Token</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @cards.each do |payment_method| %>
                <tr class="<%= "active" if @customer.default_payment_method_id == payment_method.id %>">
                  <td><%= payment_method.description %></td>
                  <td><%= payment_method.data['brand'] + " " + payment_method.data['display_number'] %></td>
                  <td><a id="payment" onclick=$('#credit_card_token').val('<%= payment_method.id %>'); class: "btn btn-xs btn-danger" > Usar Cartão </a></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
      <div class="subscribe-button">
        <button class="btn btn-danger btn-lg" type="submit">
          Assinar
        </button>
      </div>
    </div>
  </form>
<% end %>
