<div class="profile_page">

  <h1> User Profile </h1>

  <div class="row">

    <div class="col-md-12">
      <div class="thumbnail">
        <h2> Plano </h2>
        <p>
          <% if @user.subscribed? %>
            Nome: <%= @subscription.plan_name %>
          <% else %>
          <% end %>
        </p>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-12">
      <div class="thumbnail">
        <h2> Formas de Pagamento </h2>
        <% @payment_methods.each do |payment_method| %>
          <div class="payment_method">
            Cartão: <%= payment_method.data['display_number'] %>
            Bandeira: <%= payment_method.data['brand'] %>
          </div>
        <% end %>

        <div class="center-text">
          <a id="add-payment-button" class="btn btn-default" href=<%= profile_new_payment_method_path %>>Adicionar</a>
        </div>

      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-12">
      <div class="thumbnail">
        <h2> Histórico de Pagamentos </h2>

        <table class="invoices">
          <thead>
            <tr>
              <th>Situação</th>
              <th>Vencimento</th>
              <th>Valor</th>
            </tr>
          </thead>

          <tbody>
            <% @invoices.each do |invoice| %>
              <tr>
                <td><%= invoice.status %></td>
                <td><%= invoice.due_date %></td>
                <td><%= invoice.total %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>

</div>
